@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --green: #27ae60;
  --black: #444;
  --light-color: #777;
  --bg-color: #e6e6e6;
  --border: 0.1rem solid black;
  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset,
    -0.4rem -0.4rem 1rem #fff inset;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  transition: 0.2s linear;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  padding-left: 23rem;
}

body.active {
  --black: #fff;
  --light-color: #ddd;
  --bg-color: #222;
  --border: 0.1rem solid rgba(0, 0, 0, 0.4);
  --box-shadow: 0.4rem 0.4rem 1rem #111, -0.4rem -0.4rem 1rem #333;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #111 inset,
    -0.4rem -0.4rem 1rem #333 inset;
}

section {
  min-height: 100vh;
  padding: 1.5rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--black);
  box-shadow: var(--box-shadow);
  border-radius: 0.8rem;
}

.btn:hover {
  color: var(--green);
  box-shadow: var(--box-shadow-inset);
}

.heading {
  text-align: center;
  font-size: 5rem;
  color: var(--black);
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.heading span {
  color: var(--green);
  text-transform: uppercase;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--bg-color);
  width: 23rem;
  border-right: var(--border);
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.header .user img {
  border-radius: 50%;
  border: 0.2rem solid transparent;
  margin: 1rem 0rem;
  height: 15rem;
  width: 15rem;
  box-shadow: var(--box-shadow);
}

.header .user h3 {
  color: var(--black);
  font-size: 2.3rem;
}

.header .user p {
  color: var(--green);
  font-size: 1.4rem;
}

.header .navbar a {
  color: var(--black);
  margin: 2rem;
  display: block;
  font-size: 1.5rem;
  padding: 0.9rem;
  border-radius: 5rem;
  box-shadow: var(--box-shadow);
}

.header .navbar a:hover {
  box-shadow: var(--box-shadow-inset);
  color: var(--green);
}

#menu-btn {
  position: fixed;
  top: 1rem;
  left: 1.3rem;
  z-index: 1000;
  height: 4rem;
  width: 4rem;
  line-height: 4.2rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--black);
  display: none;
  background: var(--bg-color);
}

#menu-btn:hover {
  box-shadow: var(--box-shadow-inset);
  color: var(--green);
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding-left: 0;
  }

  .header {
    left: -110%;
  }

  .header.active {
    left: 0%;
    transition: 0.3s linear;
  }

  #menu-btn {
    display: initial;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header {
    width: 100%;
    border-right: 0;
  }
}

#theme-toggler {
  position: fixed;
  top: 1rem;
  right: 1.3rem;
  z-index: 1000;
  height: 4rem;
  width: 4rem;
  line-height: 4.2rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--black);
  background: var(--bg-color);
}

#theme-toggler:hover {
  box-shadow: var(--box-shadow-inset);
  color: var(--green);
}

.home {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home .content h3 {
  font-size: 5rem;
  color: var(--black);
  line-height: 6rem;
  text-transform: uppercase;
}

.home .content p {
  font-size: 2rem;
  color: var(--green);
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.home .share {
  position: relative;
  top: 7rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.home .share a {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  margin: 1rem;
  font-size: 2.3rem;
  color: var(--black);
  box-shadow: var(--box-shadow);
}

#home .share :hover {
  color: var(--green);
  box-shadow: var(--box-shadow-inset);
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .box-container {
  display: flex;
  flex: 1 1 40rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.about .row .box-container .box {
  flex: 1 1 18rem;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.about .row .box-container .box:hover {
  box-shadow: var(--box-shadow-inset);
}

.about .row .box-container .box h3 {
  font-size: 4.5rem;
  color: var(--black);
  line-height: 4rem;
}

.about .row .box-container .box p {
  font-size: 1.6rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 2.5rem;
  color: var(--black);
  line-height: 1.8rem;
}

.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1.2rem 0rem;
}

.about .row .content h3 span {
  color: var(--green);
}
.about .row:nth-child(3) {
  padding-top: 2rem;
}

.about .row .progress {
  flex: 1 1 40rem;
}

.about .row .progress h3 {
  color: var(--black);
  font-weight: normal;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .row .progress .bar {
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.about .row .progress .bar span {
  display: block;
  height: 100%;
  background: var(--green);
}

#box1 span {
  width: 87%;
}

#box2 span {
  width: 82%;
}

#box3 span {
  width: 83%;
}

#box4 span {
  width: 89%;
}

#box5 span {
  width: 79%;
}

#box6 span {
  width: 73%;
}

.services .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
  gap: 2rem;
}

.services .box-container .box{
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.services .box-container .box i{
  font-size: 4rem;
  padding-bottom: 5rem;
  color: #fff;
}

.services .box-container .box h3{
  font-size: 2rem;
  padding-bottom: 1rem;
  color: var(--black);
}

.services .box-container .box p{
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--light-color);
}

.services .box-container .box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--green);
  z-index: -1;
  clip-path:circle(9rem at 5% 0%);
  transition: .3s linear;
}

.services .box-container .box:hover::before{
  clip-path:circle(100%);
}

.services .box-container .box:hover >*{
  color: #fff;
}

.portfolio .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
  gap: 2rem;
}

.portfolio .box-container .box{
  height: 23rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  position: relative;
  border: 1rem solid transparent;
}

.portfolio .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box .content{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--bg-color);
  display: grid;
  place-items: center;
  transform: scale(0);
}

.portfolio .box-container .box:hover .content{
  transform: scale(1);
}

.portfolio .box-container .box .content h3{
  font-size: 2.5rem;
  color: var(--black);
  text-transform: uppercase;
  transform: translateY(-5rem);
  opacity: 0;
  transition-delay: .3s;
}

.portfolio .box-container .box:hover .content h3{
  transform: translateY(0rem);
  opacity: 1;
}

.contact form{
  margin: 0rem auto;
  max-width: 70rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
}

.contact form .box{
  padding: 1rem 1.5rem;
  width: 100%;
  background: none;
  color: var(--black);
  font-size: 1.6rem;
  text-transform: none;
  margin: .7rem 0;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.contact form .box:focus{
  box-shadow: var(--box-shadow-inset);
}
